.wmblocks-blockquote-wrapper {
	border: 2px dashed #6c757d;
	padding: 12px;

	.blockquote {
		font-size: 1.25em;
		padding-left: 1rem;
		border-left: 4px solid #dee2e6;
		margin-bottom: 0.5rem;
	}

	.blockquote-footer {
		color: #6c757d;
		font-size: 0.875em;

		&::before { content: '\2014\00A0'; }

		cite { font-style: italic; }
	}

	[ contenteditable ] {
		cursor: text;
		border-radius: 2px;
		&:empty::before {
			content: attr( data-placeholder );
			color: #adb5bd;
			font-style: italic;
			pointer-events: none;
		}
		&:focus { outline: 1px dashed #007cba; }
	}
}
