/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wmblocks-container {
    border: 2px solid #000 !important;
    min-height: 50px;
    position: relative;
}
.wp-block-wmblocks-container:before {
    background-color: rgba(0, 0, 0, .6);
    padding: 0 5px;
    color: #fff;
    font-size: 9px;
    z-index: 20;
 content:"Container";
 top:-2.5px;
 left:-2.5px;
 position: absolute;
}