.wp-block-wmblocks-card-subtitle {
    &:before {
        content: "CARD SUBTITLE" !important;
        background-color: #6c757d !important; // Secondary grey theme color to match its structural nature
        color: #fff !important;
    }
}